$main-color: rgb(184, 37, 37);
$cover-div-color: rgba(0, 0, 0, 0.5);
$secondary-color:rgb(255, 255, 255);
$headerLink-font-size:2rem;
$header-font-size:3.5rem;
$sub-header-size:2.5rem;
$normal-font-size:2rem;
$header-font-family:Verdana;
$normal-font-family:Garamond;
$cover-color:rgba(192, 192, 192, 0.753);
$font-color:black;
$p-font-color:rgb(184, 181, 181);
$footer-font-size:1.2rem;